/* GLOBAL */
body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

a, a:visited {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

a:hover, button:hover {
    font-weight: 600;
}

button {
    cursor: pointer;
}

.intro {
    text-align: center;
    margin-bottom: 2rem;
}

/* MENU */

nav {
    position: sticky;
    top: 0;
}

.menu {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #1C5882;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu img {
    height: 30px;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.menu ul li {
    color: #FFFFFF;
}

.header-mobile {
    display: none;
}

/* BANNER */

.banner {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.banner img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 50%;
    filter: brightness(50%);
}

.banner-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.banner-text h1 {
    font-size: 70px;
    margin-bottom: 0;
}

.banner-text p {
    font-weight: 600;
}

/* GALLERY */

.gallery {
    background-color: #F6F6F6;
}

.gallery-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center center;
    justify-content: space-between;
    padding: 3rem;
}

.gallery-images img {
    aspect-ratio: 1 / 1;
    width: 250px;
    object-fit: cover;
}

/* ABOUT */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 4rem;
}

.about-media, .about-text {
  flex: 1 1 50%;
  box-sizing: border-box;
}

.about-media {
    flex: 1 1 640px;
    aspect-ratio: 4 / 3;
    position: relative;
    overflow: hidden;
}

.about-media iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* BLOG */

.blog {
    background-color: #abd0eb;
    color: #093555;
    padding: 3rem;
}

.blog-collection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.blog-collection a {
    color: #093555;
}

.blog-post {
    text-align: center;
    padding: 1rem;
}

.blog-post img {
    aspect-ratio: 1 / 1;
    width: 250px;
    object-fit: cover;
    border-radius: 20px;
}

/* BLOG ARTICLE */

.article {
    margin: 0 auto;
    max-width: 50%;
    padding: 3rem 0;
    color: #093555;
}

.article img {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 50% 50%;
}

/* ARTICLE GALLERY */

.article-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center center;
    justify-content: space-between;
}

.article-gallery img, .article-gallery iframe {
    aspect-ratio: 1 / 1;
    width: 250px;
    object-fit: cover;
    margin: 1rem 0;
}

.article-gallery iframe {
    border: none;
}

.full-video iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    object-fit: unset;
}

/* CONTACT */

.contact {
    padding: 3rem;
}

/* CONTACT FORM & INFORMATION */

.form-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 5rem;
}

.contact-form,
.contact-information {
    flex: 1; 
    min-width: 320px;
    max-width: 500px;
    width: 50%;
}

/* CONTACT FORM */

.contact-form {
    flex: 1;
    min-width: 320px;
    max-width: 500px;
}

/* CONTACT FORM STYLING */

.contact-form h2 {
    margin-bottom: 1rem;
}

.contact-form label {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-bottom: 1rem;
    width: 100%;
    padding: 10px;
    max-width: 100%; 
}

.contact-form textarea {
    height: 150px;
    resize: vertical;
}

.contact-form button {
    font-family: 'Poppins', sans-serif;
    background-color: #1C5882;
    color: white;
    width: 7rem;
    height: 2.5rem;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

/* CONTACT INFORMATION */

.contact-information {
    flex: 1;
    min-width: 320px;
    max-width: 500px;
}

.contact-information hr {
    margin-bottom: 1.5rem;
}

.footer-element {
    display: flex;
    gap: 20px;
}

#confirmation {
    display: none;
}

/* COPYRIGHT */

.copyright {
    background-color: #1C5882;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem 0;
}

/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .menu li, .copyright {
        font-size: 14px;
    }

    .header-desktop {
        display: none;
    }

    .header-mobile {
        display: inline-block;
    }

    .banner-text h1 {
        font-size: 50px;
    }

    .about, .blog-collection {
        display: block;
    }

    .blog-post img, .gallery img, .article-gallery img {
        text-align: center;
        margin: 0 auto;
    }

    .article {
        max-width: 80%;
    }

    .article-gallery img, .article-gallery iframe {
        aspect-ratio: 1/1;
        width: 70%;
        height: auto;
        text-align: center;
        margin: 0 auto;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {

    .about {
        display: block;
    }

    .blog-collection {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .article {
        max-width: 80%;
    }

    .article-gallery img, .article-gallery iframe {
        display: flex;
        flex-wrap: wrap;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px) {

    .about {
        display: block;
    }

    .blog-collection {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .article {
        max-width: 80%;
    }

}